beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2019.3.9
chardet==3.0.4
cycler==0.10.0
idna==2.8
kiwisolver==1.0.1
lxml==4.4.1
matplotlib==3.0.3
nltk==3.4.4
numpy==1.16.2
pandas==0.24.2
pip==18.1
pymongo==3.8.0
pyparsing==2.3.1
python-dateutil==2.8.0
pytz==2018.9
requests==2.21.0
scikit-learn==0.20.3
scipy==1.2.1
setuptools==40.5.0
six==1.12.0
sklearn==0.0
soupsieve==1.9
urllib3==1.26.5
vaderSentiment==3.2.1
virtualenv==16.1.0
wheel==0.32.2
xgboost==0.82
XlsxWriter==1.1.5
